@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>客戶代號</td>
                <td>員工代號</td>
                <td>運送地點</td>
            </tr>
        </table>
    </div>
</body>
</html>
