@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered table-striped">
    <tr>
        <td>測試</td>
        <td>123</td>
        <td>測試</td>
        <td>123</td>
    </tr>

    <tr>
        <td>321</td>
        <td>測試</td>
        <td>321</td>
        <td>測試</td>
    </tr>
</table>
@{Html.RenderPartial("_SysDatePartial");}